.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 2048px;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px auto;
}
.siteHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .siteHeader:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.buttonButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zev4L {
  position: relative;
  height: 1em;
}
.text__mMl1U {
  white-space: pre;
  color: var(--token-bTfc8s3xNwDj);
}
.svg__i5DL {
  position: relative;
  height: 1em;
}
.freeBox___6O9Pe {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.section {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  grid-row-gap: 50px;
  background: var(--token-bTfc8s3xNwDj);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 58px;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .section {
    padding: 80px 50px;
  }
}
@media (max-width: 1200px) {
  .section > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .section {
    padding: 50px 30px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .section > * {
    grid-column: 4;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: var(--token-9HNAvI0pqHnB);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 20px;
  padding: 10px;
}
@media (max-width: 1200px) {
  .h1 {
    font-size: var(--token-mFpnx4nEsj7u);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1 {
    font-size: var(--token-EBGyLHrpfttb);
  }
}
.freeBox__mWurs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__smVuq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  flex-basis: 70%;
  row-gap: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__smVuq {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__d94MO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__psnpi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-lDLmFdvCjYex);
  font-weight: 600;
  min-width: 0;
}
.text__nqxMk {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-lDLmFdvCjYex);
  min-width: 0;
}
.freeBox__dlUh2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 30%;
  padding-top: 0px;
  min-height: 0;
}
.buttonOldCallToAction:global(.__wab_instance) {
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
}
.text__ySxb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__ySxb {
    font-size: 16px;
    width: 442px;
  }
}
.link__ihfHk {
  color: var(--token-lDLmFdvCjYex);
  text-decoration-line: underline;
}
._1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._1 {
    font-size: 16px;
  }
}
.h3__cy786 {
  text-align: left;
}
._2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._2 {
    font-size: 16px;
  }
}
.h3__bAkYv {
  text-align: left;
}
.freeBox__vrajs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.tableLine {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (max-width: 1200px) {
  .tableLine {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
.p__pAaWc {
  width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .p__pAaWc {
    flex-shrink: 1;
    flex-grow: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .p__pAaWc {
    width: 100%;
    min-width: 0;
  }
}
.p__s5OEt {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .p__s5OEt {
    width: 100%;
    min-width: 0;
  }
}
.p___2XNsD {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .p___2XNsD {
    width: 100%;
    min-width: 0;
  }
}
.tableLine2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .tableLine2 {
    width: 327px;
  }
}
.p__caXtk {
  width: 20%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .p__caXtk {
    width: 100%;
    min-width: 0;
  }
}
.p__immut {
  width: 40%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 766px) {
  .p__immut {
    width: 100%;
    min-width: 0;
  }
}
.p___4FMp {
  width: 40%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 766px) {
  .p___4FMp {
    width: 100%;
    min-width: 0;
  }
}
.tableLine3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px;
}
.p__jzoRz {
  width: 20%;
}
.p__gwdOo {
  width: 40%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
.p___4KVti {
  width: 40%;
  height: auto;
  border-bottom: 1px solid var(--token-LN1YkB123lXQ);
}
.tableLine4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px;
}
.p___8VMsB {
  width: 20%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
.p__haqB1 {
  width: 40%;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--token-Pxe4wDL2kJpb);
}
.p__oKkzL {
  width: 40%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
.tableLine5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px;
}
.p___3Pen {
  width: 20%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 766px) {
  .p___3Pen {
    width: 100%;
    min-width: 0;
  }
}
.p__uc0Ug {
  width: 40%;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 766px) {
  .p__uc0Ug {
    width: 100%;
    min-width: 0;
  }
}
.p___7Slpj {
  width: 40%;
  padding-top: 0px;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 766px) {
  .p___7Slpj {
    width: 100%;
    min-width: 0;
  }
}
.text___6HWb1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
._3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._3 {
    font-size: 16px;
  }
}
.h3__fqwsI {
  height: auto;
  text-align: left;
}
._4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._4 {
    font-size: 16px;
  }
}
.h3__gpIm9 {
  text-align: left;
}
.ul__cnnzN {
  display: flex;
  flex-direction: column;
}
.ul__iAnvu {
  display: flex;
  flex-direction: column;
}
._5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._5 {
    font-size: 16px;
  }
}
.h3__iz5N9 {
  text-align: left;
}
.ul__vbMew {
  display: flex;
  flex-direction: column;
}
.li__swwgz {
  padding-left: 0px;
}
._6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._6 {
    font-size: 16px;
  }
}
.h3__qdp4V {
  text-align: left;
}
._7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._7 {
    font-size: 16px;
  }
}
.h3__aesar {
  text-align: left;
}
._8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._8 {
    font-size: 16px;
  }
}
.h3___3P2Mm {
  text-align: left;
}
.ul__z2Ekr {
  display: flex;
  flex-direction: column;
}
.ul__zBWnG {
  display: flex;
  flex-direction: column;
}
.link__mfPzj {
  color: var(--token-lDLmFdvCjYex);
  text-decoration-line: underline;
}
.ul__rHrzR {
  display: flex;
  flex-direction: column;
}
.link___5GQh {
  color: var(--token-lDLmFdvCjYex);
  text-decoration-line: underline;
}
._9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._9 {
    font-size: 16px;
  }
}
.h3__olmZd {
  text-align: left;
}
._10 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._10 {
    font-size: 16px;
  }
}
.h3__s9Dxk {
  text-align: left;
}
.ul__rMqVb {
  display: flex;
  flex-direction: column;
}
.ul__srl4M {
  display: flex;
  flex-direction: column;
}
.ul__b3Xs9 {
  display: flex;
  flex-direction: column;
}
.ul__hvTvE {
  display: flex;
  flex-direction: column;
}
.ul__qQuqA {
  display: flex;
  flex-direction: column;
}
.ul__vWuO {
  display: flex;
  flex-direction: column;
}
.ul__bUSix {
  display: flex;
  flex-direction: column;
}
.ul___5En3M {
  display: flex;
  flex-direction: column;
}
.ul__gemK {
  display: flex;
  flex-direction: column;
}
.ul__ucTli {
  display: flex;
  flex-direction: column;
}
.ul__xV82C {
  display: flex;
  flex-direction: column;
}
.ul___1El1R {
  display: flex;
  flex-direction: column;
}
.ul__pdg6E {
  display: flex;
  flex-direction: column;
}
.ul__jtpre {
  display: flex;
  flex-direction: column;
}
._11 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #000000;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  ._11 {
    font-size: 16px;
  }
}
.h3__zPzjt {
  text-align: left;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
