.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
  }
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 2048px;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px auto;
}
@media (min-width: 0px) and (max-width: 766px) {
  .wrapper {
    max-width: 2048px;
    margin: 0px auto;
  }
}
.hero {
  position: relative;
  top: auto;
  left: auto;
  background: none;
  display: grid;
  height: auto;
  min-width: auto;
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 200px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .hero {
    grid-row-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .hero > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero {
    background: none;
    min-height: auto;
    row-gap: 20px;
    left: auto;
    top: auto;
    border-bottom-right-radius: 100px;
    grid-row-gap: 0px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero > * {
    grid-column: 4;
  }
}
.siteHeader3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .siteHeader3:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.buttonButton5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___4PNnS {
  position: relative;
  height: 1em;
}
.text___3UjT0 {
  white-space: pre;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__du3Fk {
  position: relative;
  height: 1em;
}
.interactionEffect6 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.freeBox__fbDmm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 100px;
}
@media (max-width: 1200px) {
  .freeBox__fbDmm {
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__fbDmm {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    display: flex;
    flex-direction: row;
    max-width: none;
    width: 100%;
    row-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 20px;
  }
}
.value {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(var(--token-dBBGdeHHN0IX), var(--token-dBBGdeHHN0IX)),
    var(--token-9HNAvI0pqHnB);
  column-gap: 150px;
  align-content: center;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 0;
  border-radius: 30px;
  padding: 40px;
}
@media (max-width: 1200px) {
  .value {
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: nowrap;
    row-gap: 0px;
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .value {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    max-width: none;
    display: flex;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 20px;
  }
}
.titre {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 58%;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre {
    height: auto;
    width: 60%;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0px;
  }
}
.h1___3T5Bx {
  width: 100%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-eDIkaKB8XVr2);
  font-weight: 700;
  font-style: normal;
  color: var(--token-ygViUn_d-Nr1);
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .h1___3T5Bx {
    font-size: var(--token-mFpnx4nEsj7u);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1___3T5Bx {
    font-size: var(--token-c6dspfILe3Zr);
    height: auto;
  }
}
.h4 {
  display: block;
  position: relative;
  width: auto;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .h4 {
    font-size: var(--token-l8w0Mh5kfJ7w);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h4 {
    font-size: var(--token-5f_Q1CGdepnt);
    width: 100%;
    max-width: none;
    height: auto;
    min-width: 0;
  }
}
.boutons2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .boutons2 {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .boutons2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: auto;
    column-gap: 0px;
  }
}
.link__h46Zw {
  display: flex;
}
.primary:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nNdr3 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg__tgUcS {
  position: relative;
  height: 1em;
}
.text__t2NZh {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-ygViUn_d-Nr1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lmpZn {
  position: relative;
  height: 1em;
}
.link__wsFkw {
  display: flex;
}
.primary2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ab0M {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg___5UCs {
  position: relative;
  height: 1em;
}
.text__q4BpV {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ipxyh {
  position: relative;
  height: 1em;
}
.img___3FGkT {
  object-fit: cover;
  height: 600px;
  width: 37%;
  object-position: 70% 50%;
  border-radius: 20px;
  margin: -100px;
}
.img___3FGkT > picture > img {
  object-fit: cover;
  object-position: 70% 50%;
}
@media (max-width: 1200px) {
  .img___3FGkT {
    width: 40%;
    height: 450px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img___3FGkT {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img___3FGkT > picture > img {
    object-fit: cover;
  }
}
.old {
  position: sticky;
  top: 1.53%;
  left: 0px;
  background: linear-gradient(
    135deg,
    #7ec0f9 0%,
    #cde7ffe6 50%,
    #7ec0f9e6 100%
  );
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  min-width: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 1;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  column-gap: 0px;
  row-gap: 3px;
  min-height: 0;
  display: none;
}
@media (max-width: 1200px) {
  .old {
    height: 100%;
    background: linear-gradient(
      135deg,
      #7ec0f9 0%,
      #cde7ffe6 50%,
      #7ec0f9e6 100%
    );
    min-height: auto;
    flex-grow: 0;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    align-content: center;
    min-width: auto;
    justify-content: center;
    column-gap: 0px;
    row-gap: 3px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .old {
    background: linear-gradient(
      135deg,
      #7ec0f9 0%,
      #cde7ffe6 54%,
      #7ec0f9e6 100%
    );
    height: auto;
    width: 100%;
    min-height: none;
    flex-grow: 0;
    position: relative;
    left: auto;
    top: auto;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 7%;
    row-gap: 30px;
    column-gap: 0px;
    min-width: 0;
    padding: 50px;
  }
}
.blur2 {
  object-fit: cover;
  max-width: 70%;
  position: absolute;
  left: 1669px;
  top: 14px;
  height: 630px;
  width: 630px;
  flex-shrink: 0;
}
.blur2 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .blur2 {
    left: 1699px;
    top: 44px;
  }
}
.freeBox__hOmV {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  align-self: stretch;
  min-width: 0;
  min-height: 0;
  padding: 120px 200px;
}
@media (max-width: 1200px) {
  .freeBox__hOmV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    column-gap: 0px;
    min-width: 0;
    padding: 80px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__hOmV {
    display: block;
    height: 822px;
    width: 100%;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    align-self: flex-start;
    min-width: 0;
    flex-shrink: 0;
    padding: 0px;
  }
}
.valueProposition {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 80%;
  row-gap: 40px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .valueProposition {
    flex-basis: auto;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .valueProposition {
    position: absolute;
    left: 0px;
    top: 54px;
    padding: 0px;
  }
}
.text___42MtO {
  display: block;
  font-size: 84px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 1.1299999952316284;
  align-self: stretch;
  position: relative;
  color: #000000;
}
.h1___3X9I {
  font-size: var(--token-eDIkaKB8XVr2);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0px;
  white-space: pre-wrap;
  line-height: 113%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h1___3X9I {
    font-size: var(--token-mFpnx4nEsj7u);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1___3X9I {
    font-size: var(--token-bucIARGmMoc6);
    flex-shrink: 1;
  }
}
.text__a78Pn {
  display: block;
  font-size: var(--token-As0B5uawCa2n);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.6200000047683716;
  color: #000000;
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: 0px;
  max-width: 515px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__a78Pn {
    font-size: var(--token-7z5Kw5B89TZR);
    width: auto;
  }
}
.buttons2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .buttons2 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .buttons2 {
    padding-right: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 20px;
  }
}
.buttonOldHoverNetir__lsZKe:global(.__wab_instance) {
  max-width: 100%;
  height: 59px;
  width: 259px;
  flex-shrink: 0;
}
.freeBox__phGoD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__uisk {
  color: var(--token-bTfc8s3xNwDj);
}
.svg___2SkC {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: 0.5rem;
  color: var(--token-bTfc8s3xNwDj);
  height: 1em;
}
.img__b72Zq {
  object-fit: cover;
  max-width: 30%;
  z-index: 1;
  left: 0px;
  top: 0px;
  position: sticky;
}
.img__b72Zq > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__b72Zq {
    height: auto;
    width: 100%;
    max-width: 30em;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__b72Zq {
    max-width: 30em;
    width: 100%;
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 424px;
    position: absolute;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__b72Zq > picture > img {
    object-fit: cover;
  }
}
.problemes {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 40px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.problemes > * {
  grid-column: 4;
}
.h2__xxRdC {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .h2__xxRdC {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__xxRdC {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__czy1T {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .freeBox__czy1T {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__czy1T {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.probleme__nMyfa:global(.__wab_instance) {
  position: relative;
}
.svg___22Hzl {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
  width: 100px;
}
@media (max-width: 1200px) {
  .svg___22Hzl {
    height: 50px;
  }
}
.probleme__oOt67:global(.__wab_instance) {
  position: relative;
}
.svg__iuAaN {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
}
@media (max-width: 1200px) {
  .svg__iuAaN {
    height: 50px;
  }
}
.probleme___5E5Ig:global(.__wab_instance) {
  position: relative;
}
.svg__lRzyb {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
}
@media (max-width: 1200px) {
  .svg__lRzyb {
    height: 50px;
  }
}
.probleme__rFb90:global(.__wab_instance) {
  position: relative;
}
.svg__cJpxm {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
}
@media (max-width: 1200px) {
  .svg__cJpxm {
    height: 50px;
  }
}
.parcours {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 40px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.parcours > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .parcours {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .parcours > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .parcours {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .parcours > * {
    grid-column: 4;
  }
}
.freeBox__fdNik {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-dBBGdeHHN0IX);
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
  padding: 80px;
}
@media (max-width: 1200px) {
  .freeBox__fdNik {
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__fdNik {
    padding: 20px;
  }
}
.h2___8998 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2___8998 {
    text-align: center;
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2___8998 {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__kx87W {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__kx87W {
    flex-direction: column;
    row-gap: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__kx87W {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.parcours__pD9ID:global(.__wab_instance) {
  position: relative;
}
.parcours__bc2O:global(.__wab_instance) {
  position: relative;
}
.parcours___90Q:global(.__wab_instance) {
  position: relative;
}
.parcours__uSpxv:global(.__wab_instance) {
  position: relative;
}
.solutions {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 40px;
  background: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.solutions > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .solutions > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .solutions > * {
    grid-column: 4;
  }
}
.h2__bHmsd {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .h2__bHmsd {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__bHmsd {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__fMhn0 {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  z-index: 1;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__fMhn0 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.probleme__owkV3:global(.__wab_instance) {
  position: relative;
}
.svg__o09D9 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
}
@media (max-width: 1200px) {
  .svg__o09D9 {
    height: 50px;
  }
}
.probleme__zBd2M:global(.__wab_instance) {
  position: relative;
}
.freeBox__r8Eu2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img__yvdPt {
  object-fit: cover;
  position: absolute;
  left: -70px;
  top: -110px;
  height: 250px;
  object-position: 50% 70%;
  width: 250px;
  z-index: 2;
  flex-shrink: 0;
}
.img__yvdPt > picture > img {
  object-fit: cover;
  object-position: 50% 70%;
}
@media (max-width: 1200px) {
  .img__yvdPt {
    width: 150px;
    height: 150px;
    top: -70px;
    left: -20px;
    flex-shrink: 0;
  }
}
.svg__eNlq4 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .svg__eNlq4 {
    height: 50px;
    flex-shrink: 0;
  }
}
.probleme__adKnx:global(.__wab_instance) {
  position: relative;
}
.svg__b6MSq {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
}
@media (max-width: 1200px) {
  .svg__b6MSq {
    height: 50px;
  }
}
.probleme__sB9Rc:global(.__wab_instance) {
  position: relative;
}
.svg__dWmy1 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-dBBGdeHHN0IX);
}
@media (max-width: 1200px) {
  .svg__dWmy1 {
    height: 50px;
  }
}
.besoinOld {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-ygViUn_d-Nr1);
  grid-row-gap: 50px;
  height: auto;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.besoinOld > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .besoinOld > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .besoinOld {
    height: 100%;
    padding-bottom: 132px;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .besoinOld > * {
    grid-column: 4;
  }
}
.blur {
  object-fit: cover;
  max-width: 80%;
  position: absolute;
  left: 1217px;
  top: -296px;
  height: 970px;
  width: 976px;
  display: none;
}
.blur > picture > img {
  object-fit: cover;
}
.freeBox__qcFt9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.h2__xqXjb {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__xqXjb {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__xqXjb {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.text___9PqzY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__zdPzq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  top: auto;
  left: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 80px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__zdPzq {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__zdPzq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
  }
}
.besoin__hIUs8:global(.__wab_instance) {
  position: relative;
}
.svg__oIv4G {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.besoin___9WfOw:global(.__wab_instance) {
  position: relative;
}
.svg__jTsLb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.besoin__vmYac:global(.__wab_instance) {
  position: relative;
}
.svg__bYrNp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
._3Etapes {
  position: relative;
  width: 100%;
  background: var(--token-B1dNkv6OuET1);
  grid-row-gap: 50px;
  height: 100%;
  align-content: center;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 20px;
}
._3Etapes > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  ._3Etapes {
    height: auto;
    padding: 80px;
  }
}
@media (max-width: 1200px) {
  ._3Etapes > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  ._3Etapes {
    height: 100%;
    justify-items: center;
    align-content: flex-start;
    min-height: 0;
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  ._3Etapes > * {
    grid-column: 4;
  }
}
.freeBox__iU8Lf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.h2___8P079 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2___8P079 {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.text__cru3U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__lOdFs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__lOdFs {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__kljlm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__kljlm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 0px;
  }
}
.pourquoimentor__bbayf:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor__bbayf:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__hDpMf {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.pourquoimentor__dbG8E:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor__dbG8E:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__is5U {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.pourquoimentor__sl9HI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor__sl9HI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__ynmto {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.pourquoimentor__lMtu8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor__lMtu8:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__hqrhp {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.pourquoimentor__fT4Mx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor__fT4Mx:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__oInzH {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.pourquoimentor___0PmRf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor___0PmRf:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__wom9Y {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.pourquoimentor___8Lgi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .pourquoimentor___8Lgi:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__o8QpM {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-9HNAvI0pqHnB);
}
.old2 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
@media (max-width: 1200px) {
  .old2 {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__vriRo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: radial-gradient(
      ellipse 30% 50% at 50% 50%,
      #81b7e5 0%,
      #ccdff37a 52%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__vriRo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    row-gap: 30px;
    column-gap: 0px;
    min-height: 0;
  }
}
.freeBox__jVtDz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #dbeafe;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  row-gap: 20px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 15px;
}
@media (max-width: 1200px) {
  .freeBox__jVtDz {
    width: 500px;
    height: auto;
  }
}
.whyMentoring__yA9CJ:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.whyMentoring___1PbGb:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.freeBox__laWwA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #dbeafe;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  row-gap: 20px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 15px;
}
@media (max-width: 1200px) {
  .freeBox__laWwA {
    width: 500px;
    height: auto;
    max-width: 100%;
    background: #dbeafe73;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    border-radius: 12px;
    padding: 15px;
  }
}
.whyMentoring__zMBx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.whyMentoring__lLmju:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.whyMentoring__qFu5R:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__y22Ll {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #dbeafe;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  row-gap: 20px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 15px;
}
@media (max-width: 1200px) {
  .freeBox__y22Ll {
    width: 500px;
    height: 300px;
    max-width: 100%;
    background: #dbeafe73;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 12px;
    padding: 15px;
  }
}
.whyMentoring___7Vvff:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.whyMentoring___7Nodt:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.testimonials {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-B1dNkv6OuET1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.testimonials > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .testimonials {
    padding: 50px 0px;
  }
}
@media (max-width: 1200px) {
  .testimonials > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials {
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials > * {
    grid-column: 4;
  }
}
.titre4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2___7O4GN {
  display: block;
  width: auto;
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-KQYppANTA7pb);
  font-weight: 700;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .h2___7O4GN {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2___7O4GN {
    font-size: var(--token-_kt3GTbtgWlp);
    text-align: center;
  }
}
.testimonial {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  flex-direction: row;
  column-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonial {
    flex-direction: column;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
  }
}
.testimonial__hPyW:global(.__wab_instance) {
  width: 100%;
}
.testimonial__y30Ny:global(.__wab_instance) {
  width: 100%;
}
.testimonial__cVwV:global(.__wab_instance) {
  width: 100%;
}
.callToAction2 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.callToAction2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction2 {
    left: auto;
    top: auto;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction2 > * {
    grid-column: 4;
  }
}
.freeBox__bUOlk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__bUOlk {
    padding: 0px;
  }
}
.freeBox__xMiac {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-dBBGdeHHN0IX);
  row-gap: 20px;
  min-width: 0;
  border-radius: 30px;
  padding: 80px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__xMiac {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.h2__eFuuD {
  display: block;
  width: 100%;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-KQYppANTA7pb);
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__eFuuD {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__eFuuD {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.buttonButton7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 766px) {
  .buttonButton7:global(.__wab_instance):global(.__wab_instance) {
    width: 177px;
    height: 47px;
    flex-shrink: 0;
  }
}
.svg__vcqSq {
  position: relative;
  height: 1em;
}
.text__oWi8G {
  white-space: pre;
  padding-right: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  color: var(--token-SJG3A5J6b8qj);
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__oWi8G {
    font-size: 15px;
  }
}
.svg__eglxL {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
.freeBox___57FiD {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.img__yPpkK {
  object-fit: cover;
  position: absolute;
  left: -45px;
  top: -16px;
  width: auto;
  height: 300px;
  flex-shrink: 0;
}
.img__yPpkK > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__yPpkK {
    width: 150px;
    height: 250px;
    top: 59px;
    left: 6px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__yPpkK {
    width: 100px;
    height: 150px;
    top: 11px;
    left: 8px;
    flex-shrink: 0;
  }
}
.callToAction1 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 150px 0px;
}
.callToAction1 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction1 {
    padding-top: 100px;
    padding-bottom: 100px;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction1 > * {
    grid-column: 4;
  }
}
.freeBox__ego1J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 100px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__ego1J {
    padding: 0px 60px;
  }
}
.freeBox__eqJ7A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-9HNAvI0pqHnB);
  row-gap: 20px;
  min-width: 0;
  border-radius: 30px;
  padding: 80px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__eqJ7A {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.h2___20Rdk {
  display: block;
  width: 100%;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-KQYppANTA7pb);
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2___20Rdk {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.text__iyB7 {
  display: block;
  font-size: var(--token-As0B5uawCa2n);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.6200000047683716;
  color: var(--token-ygViUn_d-Nr1);
  position: relative;
  width: 100%;
  text-align: center;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__iyB7 {
    font-size: var(--token-7z5Kw5B89TZR);
  }
}
.buttonButton4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 766px) {
  .buttonButton4:global(.__wab_instance):global(.__wab_instance) {
    width: 177px;
    height: 47px;
    flex-shrink: 0;
  }
}
.svg__nhTsg {
  position: relative;
  height: 1em;
}
.text__h9Br5 {
  white-space: pre;
  padding-right: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #eff6ff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__h9Br5 {
    font-size: 15px;
  }
}
.svg__auK09 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
.freeBox__mLxT5 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.faq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-ygViUn_d-Nr1);
  row-gap: 50px;
  min-width: 0;
  padding: 0px 100px 100px;
}
@media (max-width: 1200px) {
  .faq {
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq {
    padding: 20px 20px 25px;
  }
}
.titre7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre7 {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre7 {
    align-items: center;
    justify-content: flex-start;
  }
}
.h2__a1I {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: 100%;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__a1I {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__a1I {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.freeBox__mGmEq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  column-gap: 50px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__mGmEq {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__mGmEq {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
.freeBox__zduE {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 70%;
  row-gap: 20px;
}
.freeBox__xtg2P {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__xtg2P {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.faq__tVe6C:global(.__wab_instance) {
  max-width: 100%;
}
.faq__m1M7O:global(.__wab_instance) {
  max-width: 100%;
}
.faq___6KWl:global(.__wab_instance) {
  max-width: 100%;
}
.faq__hwWdv:global(.__wab_instance) {
  max-width: 100%;
}
.faq__lt6Wc:global(.__wab_instance) {
  max-width: 100%;
}
.faq__asysm:global(.__wab_instance) {
  max-width: 100%;
}
.faq__vZq32:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__xqRui {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 40%;
  flex-basis: 30%;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__xqRui {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__xqRui {
    display: none;
  }
}
.img__twwf5 {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 80%;
}
.img__twwf5 > picture > img {
  object-fit: contain;
}
@media (max-width: 1200px) {
  .img__twwf5 {
    align-self: center;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__twwf5 {
    width: 20px;
  }
}
.img__tHgIy {
  object-fit: cover;
  max-width: 100%;
  width: 285px;
  align-self: center;
  display: none;
}
.img__tHgIy > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__tHgIy {
    display: block;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
