.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-uq_jkD2g-xEy);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__uWglp {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-uq_jkD2g-xEy);
}
.radioRadio__n2Yzu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radioRadio__rLqOc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radioRadio___0NihB:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
