.body {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: none;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .body {
    padding-top: 0px;
  }
}
.wrapper {
  display: flex;
  height: 100%;
  background: none;
  flex-direction: column;
  max-width: 2048px;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1200px) {
  .wrapper {
    max-width: 1000px;
    width: 100%;
    min-width: 0;
  }
}
.hero {
  position: relative;
  top: auto;
  left: auto;
  display: grid;
  height: auto;
  min-width: auto;
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 200px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .hero {
    height: auto;
    background: none;
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .hero > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero {
    background: none;
    min-height: auto;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero > * {
    grid-column: 4;
  }
}
.siteHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1200px) {
  .siteHeader:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .siteHeader:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.buttonButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__tf5A4 {
  position: relative;
  height: 1em;
}
.text__zt5NY {
  white-space: pre;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
}
.svg___486Mu {
  position: relative;
  height: 1em;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.pres {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 100px;
}
@media (max-width: 1200px) {
  .pres {
    padding: 60px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .pres {
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
}
.value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 100px;
  background: var(--token-9HNAvI0pqHnB);
  min-width: 0;
  border-radius: 30px;
  padding: 40px;
}
@media (max-width: 1200px) {
  .value {
    column-gap: 40px;
    row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .value {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.titres {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 60%;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titres {
    height: auto;
    row-gap: 10px;
    width: 60%;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titres {
    width: 100%;
    padding: 0px;
  }
}
.h1 {
  width: 100%;
  text-align: center;
  background: none;
  color: var(--token-ygViUn_d-Nr1);
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .h1 {
    font-size: var(--token-mFpnx4nEsj7u);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1 {
    font-size: var(--token-c6dspfILe3Zr);
  }
}
.h3___34Os9 {
  width: 100%;
  text-align: center;
  background: none;
  color: var(--token-ygViUn_d-Nr1);
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .h3___34Os9 {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h3___34Os9 {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.h4 {
  display: block;
  position: relative;
  width: auto;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
}
@media (max-width: 1200px) {
  .h4 {
    text-align: center;
    font-size: var(--token-l8w0Mh5kfJ7w);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h4 {
    font-size: var(--token-5f_Q1CGdepnt);
    width: 100%;
    min-width: 0;
  }
}
.buttons2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .buttons2 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
    left: auto;
    top: auto;
    row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .buttons2 {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 20px;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.buttonButton2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .buttonButton2:global(.__wab_instance):global(.__wab_instance) {
    width: 137px;
    flex-shrink: 0;
  }
}
.svg___0H9G {
  position: relative;
  height: 1em;
}
.text___0Eh8Z {
  white-space: pre;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text___0Eh8Z {
    font-size: 14px;
  }
}
.svg__kGoWj {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .svg__kGoWj {
    width: 15px;
    height: 15px;
  }
}
.interactionEffect2 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  cursor: pointer;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.buttonButton6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .buttonButton6:global(.__wab_instance):global(.__wab_instance) {
    width: 137px;
    flex-shrink: 0;
  }
}
.svg__h6Sr4 {
  position: relative;
  height: 1em;
}
.text__nZgTm {
  white-space: pre;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__nZgTm {
    font-size: 14px;
  }
}
.svg__jmlwn {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .svg__jmlwn {
    width: 15px;
    height: 15px;
  }
}
.interactionEffect6 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  cursor: pointer;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.img__n8Kwq {
  object-fit: cover;
  transform: perspective(0px);
  backface-visibility: visible;
  perspective: 0px;
  width: auto;
  height: 600px;
  border-radius: 20px;
  margin: -100px;
}
.img__n8Kwq > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__n8Kwq {
    height: auto;
    width: 40%;
    max-width: 100%;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__n8Kwq {
    height: 100%;
    width: 60%;
    min-height: 0;
    display: none;
  }
}
.confiance {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.confiance > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .confiance {
    left: auto;
    top: auto;
    padding: 50px 0px;
  }
}
@media (max-width: 1200px) {
  .confiance > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .confiance {
    background: none;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .confiance > * {
    grid-column: 4;
  }
}
.titre6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.h2__gsEsO {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  letter-spacing: 0em;
  line-height: 1.1299999952316284;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: auto;
}
@media (max-width: 1200px) {
  .h2__gsEsO {
    font-size: var(--token-TmD_rUKfAH9e);
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__gsEsO {
    font-size: var(--token-_kt3GTbtgWlp);
    width: auto;
  }
}
.carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .carousel {
    position: relative;
    top: auto;
    left: auto;
  }
}
.sliderCarousel4:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  height: 100%;
  flex-grow: 0;
  flex-basis: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .sliderCarousel4:global(.__wab_instance) {
    flex-basis: 120px;
    width: 100%;
    height: 15.41%;
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: auto;
    min-height: 5%;
    background: linear-gradient(351deg, #f5fdff00 0%, #ebfff200 100%) 0% 0% /
      100% 100% repeat;
    max-height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 50px;
    display: none;
    padding: 0px;
  }
}
.handipharmLogo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 8px;
  margin: 0px 2em;
}
.img__jIZtt {
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  width: 200px;
  flex-shrink: 0;
}
.img__jIZtt > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__jIZtt {
    width: 100%;
    height: 100px;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__jIZtt > picture > img {
    object-fit: contain;
  }
}
.logoBig2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img__c24Kj {
  object-fit: cover;
  max-width: none;
  height: 85px;
  width: 200px;
  flex-shrink: 0;
}
.img__c24Kj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__c24Kj {
    width: 100%;
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__c24Kj > picture > img {
    object-fit: contain;
  }
}
.nobullshit2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img__nPnAm {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  align-self: flex-start;
  width: 200px;
  margin-top: 12px;
  flex-shrink: 0;
}
.img__nPnAm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__nPnAm {
    width: 100%;
    height: 106px;
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__nPnAm > picture > img {
    object-fit: contain;
  }
}
.cosikaLogo2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
@media (min-width: 0px) and (max-width: 766px) {
  .cosikaLogo2 {
    align-items: center;
    justify-content: center;
    align-self: auto;
  }
}
.img__nL0O {
  object-fit: contain;
  max-width: 100%;
  height: 90px;
  align-self: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img__nL0O > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__nL0O {
    width: 100%;
    height: 60px;
    max-width: 100%;
    object-fit: contain;
    margin-top: 15px;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__nL0O > picture > img {
    object-fit: contain;
  }
}
.turquand3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
  margin: 0px 2em;
}
.turquand4 {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  height: 80px;
  align-self: center;
  flex-shrink: 0;
}
.turquand4 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .turquand4 {
    width: 100%;
    height: 106px;
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .turquand4 > picture > img {
    object-fit: contain;
  }
}
.smala3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img___1RpO {
  object-fit: contain;
  max-width: 100%;
  object-position: center center;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.img___1RpO > picture > img {
  object-fit: contain;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img___1RpO {
    width: 100%;
    height: 106px;
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img___1RpO > picture > img {
    object-fit: contain;
  }
}
.cloudIam2 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img__xSsyu {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.img__xSsyu > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__xSsyu {
    width: 100%;
    height: 106px;
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__xSsyu > picture > img {
    object-fit: contain;
  }
}
.pharmaConfort2 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img__h7IQp {
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  width: 200px;
  flex-shrink: 0;
}
.img__h7IQp > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__h7IQp {
    width: 100%;
    height: 106px;
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__h7IQp > picture > img {
    object-fit: contain;
  }
}
.campingCar2 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img___7ROvY {
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  width: 200px;
  flex-shrink: 0;
}
.img___7ROvY > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img___7ROvY {
    width: 100%;
    height: 106px;
    max-width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.abcm3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img__fgTxo {
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  width: 200px;
  flex-shrink: 0;
}
.img__fgTxo > picture > img {
  object-fit: contain;
}
.franceNuage2 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0px 2em;
}
.img__wUBpR {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  width: 200px;
  flex-shrink: 0;
}
.img__wUBpR > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__wUBpR {
    width: 100%;
    height: 106px;
    max-width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.logosrow {
  width: 100%;
  height: 60px;
  box-shadow: none;
  position: relative;
  left: auto;
  top: auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .logosrow {
    height: auto;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-row-gap: 0px;
    grid-column-gap: 10px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: grid;
  }
}
.big {
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.big > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .big {
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
.campingCarPark {
  object-fit: contain;
  height: 100%;
  min-height: 0;
}
.campingCarPark > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .campingCarPark {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: 50px;
  }
}
.captainvet {
  object-fit: contain;
  filter: invert(70%);
  height: 100%;
  min-height: 0;
}
.captainvet > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .captainvet {
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
.nbte {
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.nbte > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .nbte {
    width: auto;
    height: 50px;
    object-fit: fill;
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .nbte > picture > img {
    object-fit: fill;
  }
}
.cloudiam {
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.cloudiam > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .cloudiam {
    object-fit: fill;
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .cloudiam > picture > img {
    object-fit: fill;
  }
}
.abcm {
  object-fit: contain;
  height: 100%;
  min-height: 0;
}
.abcm > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .abcm {
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
.francenuage {
  object-fit: contain;
  object-position: 50% 200%;
  height: 100%;
  min-height: 0;
}
.francenuage > picture > img {
  object-fit: contain;
  object-position: 50% 200%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .francenuage {
    object-fit: fill;
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .francenuage > picture > img {
    object-fit: fill;
  }
}
.handipharm {
  object-fit: contain;
  height: 100%;
  min-height: 0;
}
.handipharm > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .handipharm {
    height: 50px;
    object-fit: fill;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .handipharm > picture > img {
    object-fit: fill;
  }
}
.smala {
  object-fit: contain;
  height: 100%;
  min-height: 0;
}
.smala > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .smala {
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
.pharmaconfort {
  object-fit: contain;
  height: 100%;
  min-height: 0;
}
.pharmaconfort > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .pharmaconfort {
    position: relative;
    left: auto;
    top: auto;
    height: 50px;
    width: auto;
  }
}
.quatuor {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  background: var(--token-B1dNkv6OuET1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.quatuor > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .quatuor {
    align-items: center;
    justify-content: center;
    left: auto;
    top: auto;
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .quatuor > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .quatuor {
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .quatuor > * {
    grid-column: 4;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.h3___7TdG {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h3___7TdG {
    font-size: var(--token-k8ZQnusILw5S);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h3___7TdG {
    font-size: var(--token-epJKF3oZZcPg);
  }
}
.h2__rbYd {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__rbYd {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__rbYd {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.persona {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .persona {
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.link__tqIqJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cardWithBackground__zsbxV:global(.__wab_instance) {
  max-width: 100%;
}
.link__gtVmO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cardWithBackground__wlT9J:global(.__wab_instance) {
  max-width: 100%;
}
.link__vnYmt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cardWithBackground__gdDu3:global(.__wab_instance) {
  max-width: 100%;
}
.link__o8Lle {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cardWithBackground___54OT:global(.__wab_instance) {
  max-width: 100%;
}
.besoin {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-ygViUn_d-Nr1);
  grid-row-gap: 50px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.besoin > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .besoin {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .besoin > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .besoin {
    grid-row-gap: 20px;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .besoin > * {
    grid-column: 4;
  }
}
.h2__xE7Oe {
  display: block;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1200px) {
  .h2__xE7Oe {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__xE7Oe {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox___7VRfM {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-direction: row;
  column-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox___7VRfM {
    flex-direction: row;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 20px;
    height: 100%;
    justify-self: flex-start;
    max-width: none;
    column-gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    align-content: stretch;
    justify-content: center;
    row-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___7VRfM {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    row-gap: 40px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    display: flex;
    column-gap: 0px;
  }
}
.besoin___2GQeO:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 1200px) {
  .besoin___2GQeO:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__lqj1K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
@media (max-width: 1200px) {
  .svg__lqj1K {
    height: 50px;
  }
}
.besoin__pf4X7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 1200px) {
  .besoin__pf4X7:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___83Byo {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
@media (max-width: 1200px) {
  .svg___83Byo {
    height: 50px;
  }
}
.besoin__vzCdn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kgdKg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
@media (max-width: 1200px) {
  .svg__kgdKg {
    height: 50px;
  }
}
.besoin___3EVLk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9U9Sv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
@media (max-width: 1200px) {
  .svg___9U9Sv {
    height: 50px;
  }
}
.advantages {
  display: grid;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 60px 0px;
}
.advantages > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .advantages {
    left: auto;
    top: auto;
    padding: 80px 10px;
  }
}
@media (max-width: 1200px) {
  .advantages > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .advantages {
    left: auto;
    top: auto;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .advantages > * {
    grid-column: 4;
  }
}
.titre3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre3 {
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0px;
    top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre3 {
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.h2__ace6Y {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: auto;
}
@media (max-width: 1200px) {
  .h2__ace6Y {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__ace6Y {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.freeBox___9Rq9B {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox___9Rq9B {
    max-width: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___9Rq9B {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.avantages__e53Gv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .avantages__e53Gv:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__lr0Ji {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.avantages__qkOKy:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1200px) {
  .avantages__qkOKy:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__dYQfn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.avantages__jPovf:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1200px) {
  .avantages__jPovf:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__vqTfp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
@media (max-width: 1200px) {
  .avantages___7JqHy:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__wiuNg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.avantages__ptYxw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9GCy9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.avantages__ySlNs:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1200px) {
  .avantages__ySlNs:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__q6Evy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.avantages__qLn97:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1200px) {
  .avantages__qLn97:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__et33 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.avantages__l8GtY:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1200px) {
  .avantages__l8GtY:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__hzeUf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  height: 40px;
}
.testimonials {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-ygViUn_d-Nr1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.testimonials > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .testimonials {
    left: auto;
    top: auto;
    padding: 80px;
  }
}
@media (max-width: 1200px) {
  .testimonials > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials {
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials > * {
    grid-column: 4;
  }
}
.titre4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2__ruiiZ {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: auto;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .h2__ruiiZ {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__ruiiZ {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.testimonial {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  flex-direction: row;
  column-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .testimonial {
    flex-direction: column;
    left: auto;
    top: auto;
    grid-auto-rows: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: flex;
    row-gap: 20px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonial {
    flex-direction: column;
    row-gap: 20px;
    left: auto;
    top: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0px;
  }
}
.testimonial__ob6Fl:global(.__wab_instance) {
  width: 100%;
}
.testimonial__bg6U6:global(.__wab_instance) {
  width: 100%;
}
.testimonial__z0TiI:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
}
@media (max-width: 1200px) {
  .testimonial__z0TiI:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonial__z0TiI:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.testimonial__gvGwo:global(.__wab_instance) {
  width: 100%;
}
.callToAction2 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px;
}
.callToAction2 > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .callToAction2 {
    left: auto;
    top: auto;
  }
}
@media (max-width: 1200px) {
  .callToAction2 > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction2 {
    left: auto;
    top: auto;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction2 > * {
    grid-column: 4;
  }
}
.freeBox___9NVb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-B1dNkv6OuET1);
  row-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 30px;
  padding: 80px;
}
@media (max-width: 1200px) {
  .freeBox___9NVb {
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___9NVb {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 40px 20px;
  }
}
.h2__aQGwn {
  display: block;
  width: auto;
}
@media (max-width: 1200px) {
  .h2__aQGwn {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__aQGwn {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.freeBox__aj0Hx {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 2;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 0px;
  grid-column-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
@media (max-width: 1200px) {
  .freeBox__aj0Hx {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__aj0Hx {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
.link__q8Uxt {
  position: relative;
  display: flex;
}
.svg__izI5 {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__izI5 {
    height: 50px;
  }
}
.link__kgviD {
  position: relative;
  display: flex;
}
.svg__trYul {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__trYul {
    height: 50px;
  }
}
.link__iCqyz {
  position: relative;
  display: flex;
}
.svg__iJ4J {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__iJ4J {
    height: 50px;
  }
}
.link___3ZTiK {
  position: relative;
  display: flex;
}
.svg__lSjJm {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__lSjJm {
    height: 50px;
  }
}
.faq {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-ygViUn_d-Nr1);
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.faq > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .faq {
    left: auto;
    top: auto;
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .faq > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq {
    height: auto;
    max-height: 100%;
    flex-grow: 0;
    left: auto;
    top: auto;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq > * {
    grid-column: 4;
  }
}
.freeBox__mjhoG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__mjhoG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__mjhoG {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    row-gap: 50px;
    column-gap: 0px;
  }
}
.titre7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre7 {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre7 {
    align-items: center;
    justify-content: flex-start;
  }
}
.h2__pYz7M {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: 100%;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__pYz7M {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__pYz7M {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.freeBox__gngQe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__gngQe {
    max-width: none;
    width: auto;
  }
}
.questions {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 70%;
  row-gap: 0px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .questions {
    width: 100%;
    flex-basis: auto;
    min-width: 0;
  }
}
.faq__ovnMf:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq__ovnMf:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.faq__hpXNr:global(.__wab_instance) {
  max-width: 100%;
}
.faq__gd0Xz:global(.__wab_instance) {
  max-width: 100%;
}
.faq__tk2FU:global(.__wab_instance) {
  max-width: 100%;
}
.faq__upWQ:global(.__wab_instance) {
  max-width: 100%;
}
.faq__oVlzn:global(.__wab_instance) {
  max-width: 100%;
}
.illustration {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 40%;
  flex-basis: 30%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .illustration {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    display: none;
  }
}
.img__wzxSm {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 80%;
}
.img__wzxSm > picture > img {
  object-fit: contain;
}
@media (max-width: 1200px) {
  .img__wzxSm {
    width: 635px;
    height: 454px;
    max-width: 136%;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__wzxSm {
    width: 244px;
    height: 100%;
    max-width: 184%;
    min-height: 0;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 1200px) {
  .footer:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .footer:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
