.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-uq_jkD2g-xEy);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: none;
  width: 100%;
  font-size: var(--token-zxWRYI7ilEvM);
  line-height: var(--token-mw5ptfsQpuop);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-EwyLdwq4MGkT);
  padding: var(--token-EwyLdwq4MGkT) var(--token-U04wMD-BpMOO)
    var(--token-EwyLdwq4MGkT) var(--token-B7_Tzt7QzMAF);
  border: 1px none #00000005;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-U04wMD-BpMOO);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-U04wMD-BpMOO);
  flex-shrink: 0;
  border-radius: var(--token-EwyLdwq4MGkT);
  border: 1px none black;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__dhDhZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
