.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 0px;
  min-width: 0;
}
.columns__s9Bf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 0px;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__s9Bf > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__s9Bf > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__bAo6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__z6Zsu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 44px;
  height: 44px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #e82323;
  box-shadow: none;
  outline-width: thin;
  outline-color: #ff0000;
  outline-offset: 3px;
  outline-style: solid;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__tMqiy {
  object-fit: cover;
  max-width: 158%;
  width: 35px;
  height: 30px;
  color: #efefef;
  align-self: center;
  flex-shrink: 0;
}
.svg__nALjF {
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 63px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: #9ca3af;
  flex-shrink: 0;
}
.column__ksjIb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__cg2E2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__w1EvE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__m8Uzf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #9ca3afc9;
  min-width: 0;
}
.text__s6XOt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.columns__oIlUb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__oIlUb > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__oIlUb > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__yy9YL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__fYrgl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 44px;
  height: 44px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  box-shadow: 0px 0px 0px 2px #ffffff9e;
  outline-style: solid;
  outline-width: thin;
  outline-color: #d1d2d5;
  outline-offset: 3px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__vzgmN {
  object-fit: cover;
  max-width: 158%;
  width: 35px;
  height: 30px;
  color: #c7c7c7;
  align-self: center;
  flex-shrink: 0;
}
.svg__l8ATs {
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 63px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: #9ca3af;
  flex-shrink: 0;
}
.column__rMpKc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__y0H5Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__szUdl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___8N7Hl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #53535396;
  min-width: 0;
}
.text___1Y8SO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.columns__o4Leo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__o4Leo > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__o4Leo > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__nfQpu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__wlI8Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 44px;
  height: 44px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  box-shadow: 0px 0px 0px 2px #ffffff9e;
  outline-width: thin;
  outline-offset: 3px;
  outline-style: solid;
  outline-color: #cdcaca;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__kA4If {
  object-fit: cover;
  max-width: 158%;
  width: 35px;
  height: 30px;
  color: #c7c7c7;
  align-self: center;
  flex-shrink: 0;
}
.svg___8C0 {
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 63px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: #9ca3af;
  flex-shrink: 0;
}
.column__uV2Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__tzO3O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__gLXpj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__e5Zqp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #53535396;
  min-width: 0;
}
.text__xiLuN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.columns__u2Q7V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__u2Q7V > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__u2Q7V > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__xboS1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__usyXo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 44px;
  height: 44px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  outline-width: thin;
  outline-offset: 3px;
  outline-color: #cdcaca;
  outline-style: solid;
  box-shadow: 0px 0px 0px 2px #ffffffe8;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__hkN1X {
  object-fit: cover;
  max-width: 158%;
  width: 35px;
  height: 30px;
  color: #d1d5db;
  align-self: center;
  flex-shrink: 0;
}
.column___5SA5V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__gvuCd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___5Bsz6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__xqdl6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #53535396;
  min-width: 0;
}
.text__oTg22 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
