.root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
}
.root > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.root > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (max-width: 1200px) {
  .root {
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0px;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .root > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (max-width: 1200px) {
  .root > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #fafafa;
  min-width: 0;
  padding: 0rem;
}
@media (max-width: 1200px) {
  .left {
    transform: none;
    align-items: center;
    background: #fafafa;
    justify-content: flex-start;
    flex-direction: column;
    column-gap: 0px;
    padding: 0rem;
  }
}
.freeBox___5D3Q3 {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1.5rem;
  padding-bottom: 0px;
  padding-left: 1.5rem;
  background: #fafafa;
  z-index: 45;
  left: 0px;
  top: 0px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (max-width: 1200px) {
  .freeBox___5D3Q3 {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 20;
    width: 20rem;
    margin-right: 4rem;
    margin-top: 55px;
  }
}
.freeBox__t5RxM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 4rem;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.75rem;
  min-width: 0;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 85px;
  height: 32px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__moBjg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__vSz6Q {
  color: #a1a1aa;
  letter-spacing: -0.025em;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.freeBox___6Hob9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___7Hi6S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__y8UN2 {
  font-size: 0.875rem;
  color: #a1a1aa;
  line-height: 1.5rem;
  letter-spacing: -0.025em;
}
.freeBox__c7LAn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__svsHh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__ispai {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 0.875rem;
  color: #a1a1aa;
  line-height: 1.5rem;
  letter-spacing: -0.025em;
  min-width: 0;
}
.freeBox__cM9SJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 131px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__wnQw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-top: 121px;
  min-width: 0;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 310px;
}
.dropdown__dropdownMenu:global(.ant-dropdown-menu) {
  font-size: 14px;
  color: var(--token-lDLmFdvCjYex);
  width: 100%;
  height: 283px;
  display: flex;
  flex-direction: column;
  outline: none;
}
.dropdown__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  row-gap: 25px;
  outline: none;
  padding: 8px;
  margin: 0px;
}
.menuItem___9XXc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--token-lDLmFdvCjYex);
}
.freeBox__uFqlF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg__kSbli {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-lDLmFdvCjYex);
  flex-shrink: 0;
}
.text__hdkz7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__bStGy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  height: 46px;
  column-gap: 0px;
  padding: 6px;
  border-bottom: 1px solid #00000021;
}
.freeBox__tHqJm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg__pql9K {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__fLt9Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__pghm6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.freeBox___8CCud {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__rBnxO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__zs9L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin-bottom: 0px;
  column-gap: 0px;
  padding: 6px;
  border-bottom: 1px solid #00000021;
}
.freeBox__yVtt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg__pTDsp {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text___7Vkj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__c9Ucr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.freeBox__wcpqF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg__vv6Lc {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-lDLmFdvCjYex);
  flex-shrink: 0;
}
.text__vLhDo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__eoA88:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.freeBox__r5Yv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg__qnDbx {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-lDLmFdvCjYex);
  flex-shrink: 0;
}
.text__aLcSt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 47px;
  border-radius: 12px;
}
.columns {
  display: flex;
  width: 281px;
  height: 51px;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  --plsmc-rc-col-gap: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
}
@media (min-width: 0px) and (max-width: 766px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7Zs82 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.svg___9Gov {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
}
.column___79Nk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__n8M3D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 0.875rem;
  padding-left: 5px;
  min-width: 0;
}
.text__px0T4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #a1a1aa;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 5px;
  min-width: 0;
}
.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #fafafa;
  overflow: auto;
  min-width: 0;
  padding: 1%;
}
@media (max-width: 1200px) {
  .right {
    padding-right: 0%;
    align-items: center;
  }
}
.freeBox__xFt8C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 750px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: none;
  background: var(--token-bTfc8s3xNwDj);
  outline-style: solid;
  outline-width: thin;
  outline-color: #00000021;
  overflow: auto;
  row-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 18px;
  padding: 45px 214px 45px 65px;
}
@media (max-width: 1200px) {
  .freeBox__xFt8C {
    width: auto;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    align-self: center;
    outline-style: none;
    height: 100%;
    max-width: 100%;
    background: var(--token-bTfc8s3xNwDj);
    box-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    right: 0;
    row-gap: 0px;
    column-gap: 0px;
    min-height: 0;
    border-radius: 0px;
    padding: 83px 32px 45px 33px;
    border-width: 1px;
    border-style: none;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__xFt8C {
    padding-right: 21px;
    padding-left: 21px;
  }
}
.freeBox___6T21O {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  background: #414652d1;
  display: none;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___6T21O {
    display: block;
  }
}
.svg__uKuD2 {
  object-fit: cover;
  max-width: 100%;
  position: fixed;
  left: 314px;
  top: 81px;
  z-index: 1;
  width: 43px;
  height: 29px;
  color: var(--token-YxZLddY0xCBI);
  cursor: pointer;
}
