.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
  }
}
.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  max-width: 2048px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
  margin: 0px auto;
}
.wrapper > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .wrapper > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .wrapper {
    max-width: 2048px;
    margin: 0px auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .wrapper > * {
    grid-column: 4;
  }
}
.hero {
  position: relative;
  top: auto;
  left: auto;
  background: none;
  display: grid;
  height: auto;
  min-width: auto;
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 200px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .hero {
    grid-row-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .hero > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero {
    background: none;
    min-height: auto;
    row-gap: 20px;
    left: auto;
    top: auto;
    border-bottom-right-radius: 100px;
    grid-row-gap: 0px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero > * {
    grid-column: 4;
  }
}
.siteHeader3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .siteHeader3:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.buttonButton5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__aqxa4 {
  position: relative;
  height: 1em;
}
.text__meXog {
  white-space: pre;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kD9Nm {
  position: relative;
  height: 1em;
}
.interactionEffect6 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.freeBox___2AhTs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 100px;
}
@media (max-width: 1200px) {
  .freeBox___2AhTs {
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___2AhTs {
    padding: 20px;
  }
}
.value2 {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(var(--token-nRwjnotLq_HV), var(--token-nRwjnotLq_HV)),
    var(--token-9HNAvI0pqHnB);
  column-gap: 150px;
  align-content: center;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 0;
  border-radius: 30px;
  padding: 40px;
}
@media (max-width: 1200px) {
  .value2 {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    max-width: none;
    display: flex;
    column-gap: 40px;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .value2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.titre3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 58%;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre3 {
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: auto;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre3 {
    width: auto;
    height: auto;
  }
}
.h1 {
  width: 100%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-eDIkaKB8XVr2);
  font-weight: 700;
  font-style: normal;
  color: var(--token-ygViUn_d-Nr1);
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .h1 {
    font-size: var(--token-mFpnx4nEsj7u);
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1 {
    font-size: var(--token-c6dspfILe3Zr);
  }
}
.h4 {
  display: block;
  position: relative;
  width: auto;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .h4 {
    font-size: var(--token-5f_Q1CGdepnt);
    width: 100%;
    max-width: none;
    height: auto;
    min-width: 0;
  }
}
.boutons2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .boutons2 {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .boutons2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.link__iNeE2 {
  display: flex;
}
.primary3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uhSiP {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg__vInd6 {
  position: relative;
  height: 1em;
}
.text__a50Yc {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-ygViUn_d-Nr1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__aOZv {
  position: relative;
  height: 1em;
}
.link__wc9Hg {
  display: flex;
}
.primary4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .primary4:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__gCnta {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg__wlISz {
  position: relative;
  height: 1em;
}
.text___8OLqJ {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zel68 {
  position: relative;
  height: 1em;
}
.img__npO6G {
  object-fit: cover;
  height: 600px;
  width: 37%;
  object-position: 70% 50%;
  border-radius: 20px;
  margin: -100px;
}
.img__npO6G > picture > img {
  object-fit: cover;
  object-position: 70% 50%;
}
@media (max-width: 1200px) {
  .img__npO6G {
    object-fit: cover;
    height: 450px;
    width: 40%;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .img__npO6G > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__npO6G {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.solutions {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.solutions > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .solutions > * {
    grid-column: 4;
  }
}
.h2__o5SXn {
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .h2__o5SXn {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__o5SXn {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__n4Yqe {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__n4Yqe {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.probleme__pTbNv:global(.__wab_instance) {
  position: relative;
}
.svg__xMhcf {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  color: var(--token-nRwjnotLq_HV);
  width: 100px;
}
@media (max-width: 1200px) {
  .svg__xMhcf {
    height: 50px;
  }
}
.probleme__zniFw:global(.__wab_instance) {
  position: relative;
}
.svg__sdK4D {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-nRwjnotLq_HV);
}
@media (max-width: 1200px) {
  .svg__sdK4D {
    height: 50px;
  }
}
.probleme__xSbRa:global(.__wab_instance) {
  position: relative;
}
.svg__l2Rf9 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-nRwjnotLq_HV);
}
@media (max-width: 1200px) {
  .svg__l2Rf9 {
    height: 50px;
  }
}
.probleme___1Jms4:global(.__wab_instance) {
  position: relative;
}
.svg__r7WT {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-nRwjnotLq_HV);
}
@media (max-width: 1200px) {
  .svg__r7WT {
    height: 50px;
  }
}
.parcours {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.parcours > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .parcours {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .parcours > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .parcours {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .parcours > * {
    grid-column: 4;
  }
}
.freeBox__pYhYi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-nRwjnotLq_HV);
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
  padding: 80px;
}
@media (max-width: 1200px) {
  .freeBox__pYhYi {
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__pYhYi {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.h2__wFgH {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ygViUn_d-Nr1);
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__wFgH {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__wFgH {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__bzBp0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__bzBp0 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__bzBp0 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.parcours__vFmRj:global(.__wab_instance) {
  position: relative;
}
.parcours__oY3X9:global(.__wab_instance) {
  position: relative;
}
.parcours__cbMCp:global(.__wab_instance) {
  position: relative;
}
.service {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-ygViUn_d-Nr1);
  grid-row-gap: 0px;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px;
}
.service > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .service {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 62px;
    min-width: 0;
  }
}
@media (max-width: 1200px) {
  .service > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .service {
    justify-items: center;
    align-content: center;
    padding-top: 31px;
    padding-bottom: 79px;
    height: 1538px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .service > * {
    grid-column: 4;
  }
}
.titre2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-bTfc8s3xNwDj);
  row-gap: 50px;
  min-width: 0;
  padding: 50px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre2 {
    left: auto;
    top: auto;
    z-index: 0;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0px;
    column-gap: 0px;
    min-height: 0;
  }
}
.text__wpzvX {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1299999952316284;
  color: #000000;
  width: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1200px) {
  .text__wpzvX {
    font-size: var(--token-TmD_rUKfAH9e);
    margin-top: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__wpzvX {
    font-size: var(--token-UXPBeNJ4rrVx);
    align-self: auto;
  }
}
.freeBox___12CZb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 5rem;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___12CZb {
    padding: 2rem;
  }
}
.freeBox__qn4Yj {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__qn4Yj {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__qn4Yj {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__kowOc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freelanceCartesFreelance__pLwRh:global(.__wab_instance) {
  position: relative;
}
.freeBox__wGm2P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freelanceCartesFreelance__u1CEa:global(.__wab_instance) {
  position: relative;
}
.freeBox__wu2Be {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freelanceCartesFreelance__hhReQ:global(.__wab_instance) {
  position: relative;
}
.freeBox__npNcc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freelanceCartesFreelance__r6RBn:global(.__wab_instance) {
  position: relative;
}
.testimonials {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background:
    url("./images/chevre2RemovebgPreviewPng.png") right 10px bottom 10px / contain repeat-y
      padding-box border-box local,
    var(--token-B1dNkv6OuET1);
  align-content: space-between;
  justify-items: center;
  grid-row-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.testimonials > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .testimonials > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials {
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials > * {
    grid-column: 4;
  }
}
.titre4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2__daUXy {
  display: block;
  width: auto;
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-KQYppANTA7pb);
  font-weight: 700;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .h2__daUXy {
    text-align: center;
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__daUXy {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.testimonial {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  flex-direction: row;
  column-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .testimonial {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonial {
    flex-direction: column;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
  }
}
.testimonial__b7R5F:global(.__wab_instance) {
  width: 100%;
}
.testimonial__jMOz:global(.__wab_instance) {
  width: 100%;
}
.testimonial__bgXig:global(.__wab_instance) {
  width: 100%;
}
.img__ddtf {
  object-fit: cover;
  max-width: 100%;
}
.img__ddtf > picture > img {
  object-fit: cover;
}
.callToAction2 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.callToAction2 > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .callToAction2 {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .callToAction2 > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction2 {
    left: auto;
    top: auto;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction2 > * {
    grid-column: 4;
  }
}
.freeBox__va8Bz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__va8Bz {
    padding: 0px;
  }
}
.freeBox__al4X {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-nRwjnotLq_HV);
  row-gap: 20px;
  min-width: 0;
  border-radius: 30px;
  padding: 80px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__al4X {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: auto;
    column-gap: 0px;
    padding: 20px;
  }
}
.h2___10H7L {
  display: block;
  width: 100%;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-KQYppANTA7pb);
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2___10H7L {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2___10H7L {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.img__ch63Y {
  object-fit: cover;
  width: auto;
  height: 280px;
  position: absolute;
  left: -2px;
  top: 2px;
  flex-shrink: 0;
}
.img__ch63Y > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__ch63Y {
    left: -22px;
    top: 52px;
    height: 220px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__ch63Y {
    height: 150px;
    top: 18px;
    flex-shrink: 0;
  }
}
.primary5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .primary5:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.freeBox__fpVsP {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg__jwG9X {
  position: relative;
  height: 1em;
}
.text__qNgsn {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__y7Oj {
  position: relative;
  height: 1em;
}
.link__me7DV {
  display: flex;
}
.primary7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .primary7:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox___9Kg52 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg__igqo4 {
  position: relative;
  height: 1em;
}
.text__dls6 {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-left: 0px;
}
.svg___0WG5M {
  position: relative;
  height: 1em;
}
.faq2 {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 40px;
  background: none;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 100px 100px;
}
.faq2 > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .faq2 {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .faq2 > * {
    grid-column: 4;
  }
}
.freeBox__vsTpo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.h2__a5IA {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  line-height: 1.2;
  font-style: normal;
  text-transform: none;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__a5IA {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
.freeBox__qv64R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tZtIy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__tZtIy {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.faq__ehLwc:global(.__wab_instance) {
  max-width: 100%;
}
.faq__mkCxk:global(.__wab_instance) {
  max-width: 100%;
}
.faq__jnPy3:global(.__wab_instance) {
  max-width: 100%;
}
.faq___6Yje5:global(.__wab_instance) {
  max-width: 100%;
}
.faq__rGba:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___5Rm2P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 40%;
  flex-basis: 30%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___5Rm2P {
    display: none;
  }
}
.img__mtiaM {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 80%;
}
.img__mtiaM > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__mtiaM {
    width: 20px;
  }
}
.heroCta {
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: var(--token-ygViUn_d-Nr1);
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 7rem;
}
.heroCta > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .heroCta {
    height: 1391px;
    justify-items: center;
    align-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .heroCta > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .heroCta {
    height: auto;
    justify-items: center;
    align-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .heroCta > * {
    grid-column: 4;
  }
}
.freeBox__e7Yv8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 500px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__e7Yv8 {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__s5Mxz {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__s5Mxz {
    height: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-height: 0;
  }
}
.freeBox__jfrmL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(#680a9da8, #680a9da8),
    url("./images/_67063793418448Jpg.jpg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  border-radius: 16px;
  padding: 2rem;
}
@media (max-width: 1200px) {
  .freeBox__jfrmL {
    height: auto;
  }
}
.text__wHm7D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.75rem;
  color: var(--token-bTfc8s3xNwDj);
  line-height: 2;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__wHm7D {
    font-size: 1.4rem;
  }
}
.text__jNWfY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.75rem;
  color: var(--token-bTfc8s3xNwDj);
  line-height: 2;
  margin-top: 30px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__jNWfY {
    font-size: 1.4rem;
  }
}
.buttonOldHoverNetir:global(.__wab_instance) {
  max-width: 100%;
  height: 59px;
  width: 259px;
  margin-top: 75px;
  flex-shrink: 0;
}
.freeBox__iyvc4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__t5NaO {
  color: var(--token-bTfc8s3xNwDj);
}
.svg__qs1Gx {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: 0.5rem;
  color: var(--token-bTfc8s3xNwDj);
  height: 1em;
}
.freeBox__elz96 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.img__b3LQf {
  object-fit: fill;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
}
.img__b3LQf > picture > img {
  object-fit: fill;
}
.faq {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-ygViUn_d-Nr1);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 120px 200px;
}
@media (max-width: 1200px) {
  .faq {
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq {
    padding: 20px 20px 25px;
  }
}
.freeBox__jhBqQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  column-gap: 50px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__jhBqQ {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__jhBqQ {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
.freeBox___1U6G3 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 70%;
  row-gap: 20px;
}
.titre7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre7 {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre7 {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__ee3T4 {
  font-size: var(--token-Wpwx8Wc9pPBr);
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1299999952316284;
  color: rgba(0, 0, 0, 1);
  width: auto;
  text-align: left;
  padding-left: 0px;
}
@media (max-width: 1200px) {
  .text__ee3T4 {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__ee3T4 {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.text__nJukc {
  display: block;
  font-size: var(--token-As0B5uawCa2n);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.6200000047683716;
  color: #000000;
  position: relative;
  width: auto;
  text-align: left;
}
@media (max-width: 1200px) {
  .text__nJukc {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__nJukc {
    font-size: var(--token-7z5Kw5B89TZR);
    text-align: center;
  }
}
.freeBox__gd1Gw {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__gd1Gw {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.faq___7YOmn:global(.__wab_instance) {
  max-width: 100%;
}
.faq__tCodP:global(.__wab_instance) {
  max-width: 100%;
}
.faq__kh86H:global(.__wab_instance) {
  max-width: 100%;
}
.faq__kikN:global(.__wab_instance) {
  max-width: 100%;
}
.faq__jr8O7:global(.__wab_instance) {
  max-width: 100%;
}
.faq__gA8Oj:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__mehJ8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 40%;
  flex-basis: 30%;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__mehJ8 {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__mehJ8 {
    display: none;
  }
}
.img__eg5FJ {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 80%;
}
.img__eg5FJ > picture > img {
  object-fit: contain;
}
@media (max-width: 1200px) {
  .img__eg5FJ {
    align-self: center;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__eg5FJ {
    width: 20px;
  }
}
.img__hxp4C {
  object-fit: cover;
  max-width: 100%;
  width: 285px;
  align-self: center;
  display: none;
}
.img__hxp4C > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__hxp4C {
    display: block;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
