.root {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f7f3fc;
  box-shadow: 0px 4px 16px 0px #00000033;
  position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  row-gap: 10px;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid #d5c9e6;
}
.root:hover {
  transform: translateX(-10px) translateY(-10px) translateZ(-10px);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 766px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sS3PO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox___1Ixwl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-color: #9a77d1;
  outline-width: 2px;
  outline-style: solid;
  background: var(--token-bTfc8s3xNwDj);
  border-radius: 50px;
  padding: 10px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
}
.img > picture > img {
  object-fit: cover;
}
.column__mmeLh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text___27Jrz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__yFoe {
  display: flex;
  flex-direction: column;
}
.li__yxZr2 {
  color: var(--token-RvPI6LyeIPmd);
  font-weight: 500;
}
.text__zblP5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__b6SZq {
  display: flex;
  flex-direction: column;
}
.li___9Jm16 {
  color: var(--token-RvPI6LyeIPmd);
  font-weight: 500;
}
.text__mhAlS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__faHuF {
  display: flex;
  flex-direction: column;
}
.li__oa2Sa {
  color: var(--token-RvPI6LyeIPmd);
  font-weight: 500;
}
.freeBox__a5OuG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
