.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  row-gap: 0px;
  min-width: 0;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.text__tfYbb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  min-width: 0;
}
.text__wFrW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.text__kHqo5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
