.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  position: relative;
  justify-self: flex-start;
  cursor: pointer;
  pointer-events: auto;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  row-gap: 20px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 10px;
  padding: 15px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  pointer-events: none;
  user-select: none;
  min-width: 0;
}
.svg__vW4Ik {
  object-fit: cover;
  color: #000000;
  height: 40px;
  transform: none;
}
.svg__gToYl {
  object-fit: cover;
  color: #000000;
  height: 40px;
  transform: none;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-vrCguEeJMp-0);
  transition-property: all;
  transition-duration: 0.3s;
  pointer-events: none;
  user-select: none;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
