.body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
  }
}
.wrapper {
  background: none;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  flex-direction: column;
  max-width: 2048px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.hero {
  position: relative;
  top: auto;
  left: auto;
  background: none;
  display: grid;
  height: auto;
  min-width: auto;
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 200px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .hero {
    background: none;
    min-height: auto;
    row-gap: 20px;
    left: auto;
    top: auto;
    border-bottom-right-radius: 100px;
    grid-row-gap: 0px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .hero > * {
    grid-column: 4;
  }
}
.siteHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1200px) {
  .siteHeader:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.buttonButton7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zt7Lp {
  position: relative;
  height: 1em;
}
.text___0Xg7K {
  white-space: pre;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jlFzt {
  position: relative;
  height: 1em;
}
.interactionEffect10 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.freeBox__iGtEy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 100px;
}
@media (max-width: 1200px) {
  .freeBox__iGtEy {
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__iGtEy {
    padding: 20px;
  }
}
.value2 {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(var(--token-BJBr2L750_IC), var(--token-BJBr2L750_IC)),
    var(--token-9HNAvI0pqHnB);
  column-gap: 150px;
  align-content: center;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 0;
  border-radius: 30px;
  padding: 40px;
}
@media (max-width: 1200px) {
  .value2 {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    max-width: none;
    display: flex;
    column-gap: 40px;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .value2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.titre3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 58%;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre3 {
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre3 {
    width: auto;
  }
}
.h1 {
  width: 100%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-eDIkaKB8XVr2);
  font-weight: 700;
  font-style: normal;
  color: var(--token-ygViUn_d-Nr1);
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .h1 {
    font-size: var(--token-mFpnx4nEsj7u);
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1 {
    font-size: var(--token-c6dspfILe3Zr);
  }
}
.h4__aPtt {
  display: block;
  position: relative;
  width: auto;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .h4__aPtt {
    font-size: var(--token-l8w0Mh5kfJ7w);
    width: 100%;
    max-width: none;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h4__aPtt {
    font-size: var(--token-5f_Q1CGdepnt);
  }
}
.boutons4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .boutons4 {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .boutons4 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.link__ffM6D {
  display: flex;
}
.primary5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__gJlDl {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg__c2D3M {
  position: relative;
  height: 1em;
}
.text__piuX1 {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-ygViUn_d-Nr1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nLpO {
  position: relative;
  height: 1em;
}
.link___7YSI {
  display: flex;
}
.primary6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__dFhL {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg___9YTVl {
  position: relative;
  height: 1em;
}
.text__kxQVb {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bpwr1 {
  position: relative;
  height: 1em;
}
.img__ldmpe {
  object-fit: cover;
  height: 600px;
  width: 37%;
  object-position: 50% 50%;
  border-radius: 20px;
  margin: -100px;
}
.img__ldmpe > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 1200px) {
  .img__ldmpe {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: 40%;
    position: relative;
    left: auto;
    top: auto;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .img__ldmpe > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__ldmpe {
    left: auto;
    top: auto;
    width: auto;
  }
}
.besoin {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  grid-row-gap: 50px;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.besoin > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .besoin > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .besoin {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .besoin > * {
    grid-column: 4;
  }
}
.h2___2RtW2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2___2RtW2 {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2___2RtW2 {
    font-size: var(--token-As0B5uawCa2n);
  }
}
.freeBox__e65Ep {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__e65Ep {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.avantages__duThS:global(.__wab_instance) {
  position: relative;
}
.svg__giJt8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vrCguEeJMp-0);
  height: 40px;
}
.avantages__h0NcO:global(.__wab_instance) {
  position: relative;
}
.svg___4SVpP {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vrCguEeJMp-0);
  height: 40px;
}
.avantages__doMlx:global(.__wab_instance) {
  position: relative;
}
.svg__tbIRb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vrCguEeJMp-0);
  height: 40px;
}
.avantages___0Ebey:global(.__wab_instance) {
  position: relative;
}
.svg__jqDc2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vrCguEeJMp-0);
  height: 40px;
}
.avantages__dlAqY:global(.__wab_instance) {
  position: relative;
}
.svg__fUyl5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vrCguEeJMp-0);
  height: 40px;
}
.homepageInteret:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.problemes {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 40px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.problemes > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .problemes > * {
    grid-column: 4;
  }
}
.h2__h0P6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .h2__h0P6 {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
.freeBox__ppr8D {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .freeBox__ppr8D {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__ppr8D {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.probleme__cbEl:global(.__wab_instance) {
  position: relative;
}
.svg__kWRz8 {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
  width: 100px;
}
@media (max-width: 1200px) {
  .svg__kWRz8 {
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__kWRz8 {
    height: 50px;
  }
}
.probleme__eLiYx:global(.__wab_instance) {
  position: relative;
}
.svg__wtvnn {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg__wtvnn {
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__wtvnn {
    height: 50px;
  }
}
.probleme__eGbxf:global(.__wab_instance) {
  position: relative;
}
.svg__p1Chz {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg__p1Chz {
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__p1Chz {
    height: 50px;
  }
}
.probleme__b0T1D:global(.__wab_instance) {
  position: relative;
}
.svg__uhXDc {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg__uhXDc {
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .svg__uhXDc {
    height: 50px;
  }
}
.parcours {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 40px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.parcours > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .parcours {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .parcours > * {
    grid-column: 4;
  }
}
.freeBox___2GN02 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-BJBr2L750_IC);
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
  padding: 80px;
}
@media (max-width: 1200px) {
  .freeBox___2GN02 {
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___2GN02 {
    padding: 20px;
  }
}
.h2___3OsXg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ygViUn_d-Nr1);
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2___3OsXg {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
.freeBox__zGiGl {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__zGiGl {
    flex-direction: column;
    row-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__zGiGl {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.parcours__iHWa:global(.__wab_instance) {
  position: relative;
}
.parcours__mdwmZ:global(.__wab_instance) {
  position: relative;
}
.parcours___6Rein:global(.__wab_instance) {
  position: relative;
}
.parcours__hxi9K:global(.__wab_instance) {
  position: relative;
}
.img__zlBl9 {
  object-fit: cover;
  position: absolute;
  left: -347px;
  top: 554px;
  height: 250px;
  object-position: 50% 70%;
  width: 250px;
  bottom: 11px;
  justify-self: flex-start;
}
.img__zlBl9 > picture > img {
  object-fit: cover;
  object-position: 50% 70%;
}
@media (max-width: 1200px) {
  .img__zlBl9 {
    left: -47px;
    top: 354px;
    width: 200px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__zlBl9 {
    top: 444px;
    height: 200px;
    width: 150px;
    left: -27px;
  }
}
.freeBox__sTtFw {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4__eKTbq {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -160px;
  top: -140px;
  color: var(--token-ygViUn_d-Nr1);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-7deg);
  font-size: 40px;
}
@media (max-width: 1200px) {
  .h4__eKTbq {
    top: -430px;
    left: 100px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h4__eKTbq {
    top: -1150px;
    font-size: 20px;
    left: 90px;
  }
}
.solutions {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 40px;
  background: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.solutions > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .solutions > * {
    grid-column: 4;
  }
}
.h2__hnyoD {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  line-height: 1.2;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .h2__hnyoD {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
.freeBox__w6D0 {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__w6D0 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.probleme__lqzKm:global(.__wab_instance) {
  position: relative;
}
.svg___6Cs {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg___6Cs {
    width: 50px;
    height: 50px;
  }
}
.probleme__i3My5:global(.__wab_instance) {
  position: relative;
}
.svg__avyws {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg__avyws {
    width: 50px;
    height: 50px;
  }
}
.probleme___55STr:global(.__wab_instance) {
  position: relative;
}
.svg__h0QlW {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg__h0QlW {
    height: 50px;
    width: 50px;
  }
}
.probleme___1XBnJ:global(.__wab_instance) {
  position: relative;
}
.svg___81Y8J {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-BJBr2L750_IC);
}
@media (max-width: 1200px) {
  .svg___81Y8J {
    height: 50px;
    width: 50px;
  }
}
.testimonials {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-B1dNkv6OuET1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.testimonials > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials {
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials > * {
    grid-column: 4;
  }
}
.titre4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2__hOd0K {
  display: block;
  width: auto;
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--token-KQYppANTA7pb);
  font-weight: 700;
  font-style: normal;
  color: var(--token-SJG3A5J6b8qj);
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .h2__hOd0K {
    text-align: center;
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__hOd0K {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.testimonial {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  flex-direction: row;
  column-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .testimonial {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonial {
    flex-direction: column;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
  }
}
.testimonial__hidtO:global(.__wab_instance) {
  width: 100%;
}
.testimonial__tB8D:global(.__wab_instance) {
  width: 100%;
}
.testimonial__qzBat:global(.__wab_instance) {
  width: 100%;
}
.wemind {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: none;
  grid-row-gap: 50px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.wemind > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .wemind {
    padding: 80px;
  }
}
@media (max-width: 1200px) {
  .wemind > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .wemind {
    padding: 50px 10px 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .wemind > * {
    grid-column: 4;
  }
}
.freeBox___2KBJl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.h2__hbzet {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__hbzet {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__hbzet {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.h3 {
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h3 {
    font-size: var(--token-l8w0Mh5kfJ7w);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h3 {
    font-size: var(--token-epJKF3oZZcPg);
  }
}
.freeBox__xRRj7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox___30Frr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox___30Frr {
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
    row-gap: 40px;
    justify-content: center;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___30Frr {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freelanceStarterPackImage:global(.__wab_instance) {
    width: auto;
    height: auto;
  }
}
.freeBox__l7Czs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  row-gap: 30px;
  width: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__l7Czs {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.text__b2ECh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__b2ECh {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__b2ECh {
    text-align: center;
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.text__aVjM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__aVjM {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.text__dNXcq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__dNXcq {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__dNXcq {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.text__ulz4U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ulz4U {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__ulz4U {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.primary:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__yi8M {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.svg___0Lcsg {
  position: relative;
  height: 1em;
}
.text__z2Ea7 {
  white-space: pre-wrap;
  padding-right: 0px;
  text-align: center;
}
.svg__opVmt {
  position: relative;
  height: 1em;
}
.callToAction1 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 100px 0px;
}
.callToAction1 > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .callToAction1 {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .callToAction1 > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction1 {
    left: auto;
    top: auto;
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .callToAction1 > * {
    grid-column: 4;
  }
}
.freeBox__mgtj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__mgtj {
    padding: 0px;
  }
}
.freeBox___7V6N {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BJBr2L750_IC);
  row-gap: 20px;
  min-width: 0;
  border-radius: 30px;
  padding: 80px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___7V6N {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.h2__ewnoK {
  display: block;
  width: 100%;
  z-index: 1;
  color: var(--token-ygViUn_d-Nr1);
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__ewnoK {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__ewnoK {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.buttonButton5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 766px) {
  .buttonButton5:global(.__wab_instance):global(.__wab_instance) {
    width: 177px;
    height: 47px;
    flex-shrink: 0;
  }
}
.svg__lMqzb {
  position: relative;
  height: 1em;
}
.text__kAqjw {
  white-space: pre;
  padding-right: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .text__kAqjw {
    font-size: 15px;
    height: 100%;
    white-space: pre-wrap;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__mposa {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
@media (min-width: 0px) and (max-width: 766px) {
  .interactionEffect {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.img__nuPfE {
  object-fit: cover;
  position: absolute;
  left: -324px;
  top: 62px;
  width: 430px;
  height: 320px;
  object-position: 50% top;
}
.img__nuPfE > picture > img {
  object-fit: cover;
  object-position: 50% top;
}
@media (max-width: 1200px) {
  .img__nuPfE {
    left: -124px;
    top: 119px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__nuPfE {
    height: 150px;
    width: 200px;
    left: -52px;
    top: 61px;
  }
}
.faq {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.faq > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .faq {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .faq > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq {
    padding: 20px 20px 25px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq > * {
    grid-column: 4;
  }
}
.titre7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre7 {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre7 {
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBox__xWUk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2__kxqri {
  display: block;
  width: 100%;
  padding-left: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__kxqri {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__kxqri {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__h5C69 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  column-gap: 50px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__h5C69 {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__h5C69 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 0px;
  }
}
.freeBox__agI4O {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 70%;
  row-gap: 20px;
}
.freeBox__okKxB {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__okKxB {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.faq__iAiK:global(.__wab_instance) {
  max-width: 100%;
}
.faq__cqGd4:global(.__wab_instance) {
  max-width: 100%;
}
.faq__ceSaT:global(.__wab_instance) {
  max-width: 100%;
}
.faq__amMbH:global(.__wab_instance) {
  max-width: 100%;
}
.faq___9Mef3:global(.__wab_instance) {
  max-width: 100%;
}
.faq__d50Ce:global(.__wab_instance) {
  max-width: 100%;
}
.faq___4IFpr:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__o8Wbc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 40%;
  flex-basis: 30%;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__o8Wbc {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__o8Wbc {
    display: none;
  }
}
.img__vFfmF {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 80%;
}
.img__vFfmF > picture > img {
  object-fit: contain;
}
@media (max-width: 1200px) {
  .img__vFfmF {
    align-self: center;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__vFfmF {
    width: 20px;
  }
}
.services {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-B1dNkv6OuET1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 60px;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.services > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .services {
    width: 100%;
    grid-row-gap: 40px;
    min-width: 0;
    padding: 80px 20px;
  }
}
@media (max-width: 1200px) {
  .services > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .services {
    left: auto;
    top: auto;
    z-index: 0;
    position: relative;
    width: auto;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0px;
    grid-row-gap: 40px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .services > * {
    grid-column: 4;
  }
}
.link__tr2Oe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .service1:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.link__k3FRy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.link__s3CuH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.link__x7Smy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.old {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
  padding: 5rem 2rem;
}
@media (min-width: 0px) and (max-width: 766px) {
  .old {
    padding: 1rem;
  }
}
.freeBox__wnYPf {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__wnYPf {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__wnYPf {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__ajg6J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.popover5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freelanceCartesFreelance__kSyEr:global(.__wab_instance) {
  position: relative;
}
.text__nldMi {
  font-size: 20px;
  color: #9a77d1;
  text-align: center;
  cursor: pointer;
}
.freeBox__nOkb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.popover6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freelanceCartesFreelance__d2Dih:global(.__wab_instance) {
  position: relative;
}
.text__p4Z2D {
  text-align: center;
  color: #9a77d1;
  font-size: 20px;
  cursor: pointer;
}
.freeBox___2QzFz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.popover7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.freelanceCartesFreelance__kFmh6:global(.__wab_instance) {
  position: relative;
}
.text__y2Db {
  font-size: 20px;
  color: #9a77d1;
  text-align: center;
  cursor: pointer;
}
.freeBox__n6OtA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.popover8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.freelanceCartesFreelance__npphk:global(.__wab_instance) {
  position: relative;
}
.text__snxMu {
  color: #9a77d1;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
.etapes {
  position: relative;
  align-content: center;
  justify-items: center;
  width: auto;
  background: var(--token-B1dNkv6OuET1);
  height: 100%;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.etapes > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .etapes {
    height: auto;
    justify-items: center;
    align-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .etapes > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .etapes {
    height: auto;
    justify-items: center;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .etapes > * {
    grid-column: 4;
  }
}
.freeBox__oyBh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__oyBh {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: auto;
    column-gap: 0px;
  }
}
.illu {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  min-height: 0;
}
.img__btZqL {
  object-fit: cover;
  height: 400px;
  width: 600px;
  object-position: 0px 60%;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__btZqL > picture > img {
  object-fit: cover;
  object-position: 0px 60%;
}
@media (max-width: 1200px) {
  .img__btZqL {
    object-position: 0px 0px;
    height: 228px;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .img__btZqL > picture > img {
    object-position: 0px 0px;
  }
}
.freeBox__mIuN {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__mIuN {
    height: 100%;
    min-height: 0;
  }
}
.h2__xNskO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__xNskO {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__xNskO {
    font-size: var(--token-As0B5uawCa2n);
  }
}
.freeBox__or7Ze {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.homepageEtapes__gpbHt:global(.__wab_instance) {
  position: relative;
}
.homepageEtapes__oHvhq:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
