.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  position: relative;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.root > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.root > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
}
.rootselectedItem {
  box-shadow: 0px 2px 11px 0px #00000069;
  background: var(--token-bTfc8s3xNwDj);
  --plsmc-rc-col-gap: 0px;
  border-radius: 9px;
}
.column__q8EuA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0px;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.svg___1CaSc {
  object-fit: cover;
  max-width: 100%;
  width: 27px;
  height: 25px;
  align-self: auto;
  flex-shrink: 0;
}
.column___5Fxyf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 294px;
  background: none;
  align-self: flex-start;
}
.menuItem___94Fo2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.text__ianun {
  position: absolute;
  width: 247px;
  height: auto;
  max-width: 100%;
  text-align: left;
  left: 0;
  top: 0;
  z-index: 1;
  bottom: 0;
  padding-left: 10px;
}
