.body {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: none;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .body {
    padding-top: 0px;
  }
}
.wrapper {
  display: flex;
  height: 100%;
  background: none;
  flex-direction: column;
  max-width: 2048px;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1200px) {
  .wrapper {
    max-width: 1000px;
    width: 100%;
    min-width: 0;
  }
}
.hero {
  position: relative;
  top: auto;
  left: auto;
  display: grid;
  height: auto;
  min-width: auto;
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 200px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .hero {
    height: auto;
    background: none;
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .hero > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero {
    background: none;
    min-height: auto;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .hero > * {
    grid-column: 4;
  }
}
.siteHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1200px) {
  .siteHeader:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .siteHeader:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.buttonButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__ge8AQ {
  position: relative;
  height: 1em;
}
.text__aTdf2 {
  white-space: pre;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
}
.svg__lqsNq {
  position: relative;
  height: 1em;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.pres {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 100px;
}
@media (max-width: 1200px) {
  .pres {
    padding: 60px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .pres {
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
}
.value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  background: var(--token-9HNAvI0pqHnB);
  min-width: 0;
  border-radius: 30px;
  padding: 40px;
}
@media (max-width: 1200px) {
  .value {
    column-gap: 40px;
    row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .value {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.titres {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 60%;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titres {
    height: auto;
    row-gap: 10px;
    width: 60%;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titres {
    width: 100%;
    padding: 0px;
  }
}
.h1 {
  width: 100%;
  text-align: center;
  background: none;
  color: var(--token-ygViUn_d-Nr1);
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .h1 {
    font-size: var(--token-mFpnx4nEsj7u);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h1 {
    font-size: var(--token-c6dspfILe3Zr);
  }
}
.h4__ffMv1 {
  display: block;
  position: relative;
  width: auto;
  color: var(--token-ygViUn_d-Nr1);
  text-align: center;
}
@media (max-width: 1200px) {
  .h4__ffMv1 {
    text-align: center;
    font-size: var(--token-l8w0Mh5kfJ7w);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h4__ffMv1 {
    font-size: var(--token-5f_Q1CGdepnt);
    width: 100%;
    min-width: 0;
  }
}
.buttons2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .buttons2 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
    left: auto;
    top: auto;
    row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .buttons2 {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 20px;
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.buttonButton2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .buttonButton2:global(.__wab_instance):global(.__wab_instance) {
    width: 137px;
    flex-shrink: 0;
  }
}
.svg__gup2Z {
  position: relative;
  height: 1em;
}
.text__g9JT {
  white-space: pre;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__g9JT {
    font-size: 14px;
  }
}
.svg___6FXrm {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .svg___6FXrm {
    width: 15px;
    height: 15px;
  }
}
.interactionEffect2 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  cursor: pointer;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.buttonButton6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .buttonButton6:global(.__wab_instance):global(.__wab_instance) {
    width: 137px;
    flex-shrink: 0;
  }
}
.svg__veg4S {
  position: relative;
  height: 1em;
}
.text__c9SoL {
  white-space: pre;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__c9SoL {
    font-size: 14px;
  }
}
.svg__sYgwo {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .svg__sYgwo {
    width: 15px;
    height: 15px;
  }
}
.interactionEffect6 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  cursor: pointer;
  border-radius: var(--token-EwyLdwq4MGkT);
}
.img__v3Be {
  object-fit: cover;
  transform: perspective(0px);
  backface-visibility: visible;
  perspective: 0px;
  width: auto;
  height: 500px;
  border-radius: 20px;
  margin: -40px;
}
.img__v3Be > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__v3Be {
    height: auto;
    width: 40%;
    max-width: 100%;
    margin: 0px 0px -40px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__v3Be {
    height: 100%;
    width: 60%;
    min-height: 0;
  }
}
.modele {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  background: var(--token-B1dNkv6OuET1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.modele > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .modele {
    align-items: center;
    justify-content: center;
    left: auto;
    top: auto;
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .modele > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .modele {
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .modele > * {
    grid-column: 4;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre {
    row-gap: 10px;
    column-gap: 0px;
  }
}
.h2__ibW2W {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__ibW2W {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__ibW2W {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.h4__dgR60 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h4__dgR60 {
    font-size: var(--token-l8w0Mh5kfJ7w);
  }
}
.freeBox__mT7O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.text___0197L {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___0197L {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.freeBox___9T0Wq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox___9T0Wq {
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 20px;
    display: flex;
  }
}
.text__bT8Zq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__bT8Zq {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.graphique {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: flex-end;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.graphique > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .graphique {
    padding: 50px 0px;
  }
}
@media (max-width: 1200px) {
  .graphique > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .graphique > * {
    grid-column: 4;
  }
}
.h2___36Zjv {
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1200px) {
  .h2___36Zjv {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
.img__ezgr6 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.img__ezgr6 > picture > img {
  object-fit: cover;
}
.text__rSra {
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .text__rSra {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.avantages {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-B1dNkv6OuET1);
  grid-row-gap: 50px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.avantages > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .avantages {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .avantages > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .avantages {
    grid-row-gap: 20px;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .avantages > * {
    grid-column: 4;
  }
}
.h2__lFfDv {
  display: block;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1200px) {
  .h2__lFfDv {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__lFfDv {
    font-size: var(--token-_kt3GTbtgWlp);
  }
}
.freeBox__kImm8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__kImm8 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.besoin__lFm8A:global(.__wab_instance) {
  max-width: 100%;
}
.svg__i56Vc {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.besoin__c0VDm:global(.__wab_instance) {
  max-width: 100%;
}
.svg__z4Ycm {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.besoin__s5Ksz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__m3Ni2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.besoin___7Pu0U:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fpets {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.besoin__zcrQ:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jlhSw {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9HNAvI0pqHnB);
  width: 70px;
  height: 70px;
}
.testimonials {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-ygViUn_d-Nr1);
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.testimonials > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .testimonials {
    left: auto;
    top: auto;
    padding: 50px 0px;
  }
}
@media (max-width: 1200px) {
  .testimonials > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials {
    row-gap: 20px;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .testimonials > * {
    grid-column: 4;
  }
}
.titre4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2__z3BKk {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: auto;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .h2__z3BKk {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__z3BKk {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.h3 {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: auto;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .h3 {
    font-size: var(--token-k8ZQnusILw5S);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h3 {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.text___4BArV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .text___4BArV {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.img__oMvIz {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  display: none;
}
.img__oMvIz > picture > img {
  object-fit: cover;
}
.img__iCv4 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.img__iCv4 > picture > img {
  object-fit: cover;
}
.freeBox__ubBdb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.text__d9O5J {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__d9O5J {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .ul {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.text__caCs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__caCs {
    font-size: var(--token-uAVl4xesO7ZC);
  }
}
.callToAction3 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 100px 0px;
}
.callToAction3 > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .callToAction3 {
    left: auto;
    top: auto;
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .callToAction3 > * {
    grid-column: 4;
  }
}
.freeBox__z14Pd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__z14Pd {
    padding: 0px;
  }
}
.freeBox__ds2LM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-9HNAvI0pqHnB);
  row-gap: 20px;
  min-width: 0;
  border-radius: 30px;
  padding: 80px;
}
@media (max-width: 1200px) {
  .freeBox__ds2LM {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 20px;
  }
}
.h2__mkb5T {
  display: block;
  width: 100%;
  z-index: 1;
  color: var(--token-ygViUn_d-Nr1);
  font-family: "Nunito Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__mkb5T {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
.buttonButton5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .buttonButton5:global(.__wab_instance):global(.__wab_instance) {
    width: 177px;
    height: 47px;
    flex-shrink: 0;
  }
}
.svg__exqpy {
  position: relative;
  height: 1em;
}
.text__pyJpf {
  white-space: pre;
  padding-right: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  color: var(--token-SJG3A5J6b8qj);
}
@media (max-width: 1200px) {
  .text__pyJpf {
    font-size: 15px;
    height: auto;
    white-space: pre-wrap;
    width: 100%;
    min-width: 0;
  }
}
.svg___611HO {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
}
.interactionEffect4 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: none;
  padding-right: 0px;
  border-radius: var(--token-EwyLdwq4MGkT);
}
@media (max-width: 1200px) {
  .interactionEffect4 {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.img__pR0Na {
  object-fit: cover;
  position: absolute;
  left: -304px;
  top: 15px;
  width: 380px;
  height: 100%;
  object-position: 50% center;
  min-height: 0;
}
.img__pR0Na > picture > img {
  object-fit: cover;
  object-position: 50% center;
}
@media (max-width: 1200px) {
  .img__pR0Na {
    left: -64px;
    top: -21px;
    width: 200px;
  }
}
.faq {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: var(--token-ygViUn_d-Nr1);
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.faq > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .faq {
    left: auto;
    top: auto;
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .faq > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq {
    height: auto;
    max-height: 100%;
    flex-grow: 0;
    left: auto;
    top: auto;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq > * {
    grid-column: 4;
  }
}
.freeBox__klRw5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__klRw5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__klRw5 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    row-gap: 50px;
    column-gap: 0px;
  }
}
.titre7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .titre7 {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .titre7 {
    align-items: center;
    justify-content: flex-start;
  }
}
.h2__sk8Mu {
  font-size: var(--token-KQYppANTA7pb);
  display: block;
  width: 100%;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h2__sk8Mu {
    font-size: var(--token-TmD_rUKfAH9e);
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .h2__sk8Mu {
    font-size: var(--token-bucIARGmMoc6);
  }
}
.freeBox__yAneP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 766px) {
  .freeBox__yAneP {
    max-width: none;
    width: auto;
  }
}
.questions {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 70%;
  row-gap: 0px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .questions {
    width: 100%;
    flex-basis: auto;
    min-width: 0;
  }
}
.faq__y8GeT:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 766px) {
  .faq__y8GeT:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.faq__jmLqv:global(.__wab_instance) {
  max-width: 100%;
}
.faq__x4Kc5:global(.__wab_instance) {
  max-width: 100%;
}
.faq__vj8A:global(.__wab_instance) {
  max-width: 100%;
}
.faq___7QgYy:global(.__wab_instance) {
  max-width: 100%;
}
.faq___9Zifo:global(.__wab_instance) {
  max-width: 100%;
}
.illustration {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 40%;
  flex-basis: 30%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 766px) {
  .illustration {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    display: none;
  }
}
.img__csUd {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 80%;
}
.img__csUd > picture > img {
  object-fit: contain;
}
@media (max-width: 1200px) {
  .img__csUd {
    width: 635px;
    height: 454px;
    max-width: 136%;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .img__csUd {
    width: 244px;
    height: 100%;
    max-width: 184%;
    min-height: 0;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 1200px) {
  .footer:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .footer:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
