.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 269px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  justify-self: flex-start;
  background: #47b0b8;
  max-height: 355px;
  min-height: 320px;
  row-gap: 20px;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 1200px) {
  .root {
    max-width: 190px;
    width: 100%;
    height: 160px;
    max-height: 0px;
    min-height: 250px;
    row-gap: 15px;
    column-gap: 0px;
    min-width: 0;
  }
}
.rootugc_ugcWebDsign {
  background: #9493fc;
}
.rootmanagmt_management {
  background: #d77d8f;
}
.rootmontage {
  background: #6761d6;
}
.rootdevweb_developpmentWeb {
  background: #44a87b;
}
.rootdesign {
  background: #ff9178;
}
.rootemailing_emailling {
  background: #6399e5;
}
.rootmarketing {
  background: #f6a7af;
}
.rootphoto {
  background: #f8cf91;
}
.rootdata {
  background: #b8aef3;
}
.rootexpRef {
  background: #a2d7e2;
}
.rootweb3_web {
  background: #7993d8;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: var(--token-zxWRYI7ilEvM);
  font-weight: 600;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 240px;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img {
    width: 150px;
  }
}
