.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-MsrkwOKj2ojd);
  font-family: var(--token-7MuUh4QWacRT);
  font-size: var(--token-zxWRYI7ilEvM);
  line-height: var(--token-mw5ptfsQpuop);
  width: 100%;
  column-gap: var(--token-7q7Rg9LPya3a);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: var(--token-y4jx_KILNLzV);
  width: var(--token-y4jx_KILNLzV);
  box-shadow: none;
  border-radius: 4px;
  border: 2px solid #564d4d;
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-CLzSvZeM4yNi);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-CLzSvZeM4yNi);
  border-color: var(--token-CLzSvZeM4yNi);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-CLzSvZeM4yNi);
  border-color: var(--token-CLzSvZeM4yNi);
}
.svg__ehPsc {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__ehPsc {
  display: block;
}
.svg__aTfef {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__aTfef {
  display: block;
}
