.companyPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.companyPage > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .companyPage > * {
    grid-column: 4;
  }
}
.stepperStpeerForm:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns__uQzfF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 0px;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__uQzfF > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__uQzfF > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__kbCtc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__szQc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #22c55e;
  box-shadow: none;
  outline-width: thin;
  outline-color: #ff0000;
  outline-offset: 3px;
  outline-style: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__iRdb {
  object-fit: cover;
  max-width: 158%;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--token-bTfc8s3xNwDj);
  align-self: center;
  flex-shrink: 0;
}
.svg__f1Xw7 {
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 63px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: #22c55e;
  flex-shrink: 0;
}
.column__chBf9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__hRwQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__rlEs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__txp7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #9ca3afc9;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  min-width: 0;
}
.text__vc9Jl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 0;
}
.columns__hkiTc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__hkiTc > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hkiTc > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__qZzp3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__bl4A9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f43f5e;
  box-shadow: 0px 0px 0px 2px #ffffff9e;
  outline-style: solid;
  outline-width: thin;
  outline-color: #f43f5e;
  outline-offset: 3px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__wb4Xb {
  object-fit: cover;
  max-width: 158%;
  width: 24px;
  height: 25px;
  color: var(--token-bTfc8s3xNwDj);
  align-self: center;
  flex-shrink: 0;
}
.svg__ruWHh {
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 63px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: #9ca3af;
  flex-shrink: 0;
}
.column__qrKt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__elFzp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___8L8Hl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__eK5Nq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #9ca3afc9;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  min-width: 0;
}
.text__aBge0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 0.875rem;
  color: #6b7280;
  line-height: 1.25rem;
  min-width: 0;
}
.columns__xvLeo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__xvLeo > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__xvLeo > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__dGKm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__rMnz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  box-shadow: 0px 0px 0px 2px #ffffff9e;
  outline-width: thin;
  outline-offset: 3px;
  outline-style: solid;
  outline-color: #cdcaca;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg__nMnDe {
  object-fit: cover;
  max-width: 158%;
  width: 24px;
  height: 25px;
  color: #d1d5db;
  align-self: center;
  flex-shrink: 0;
}
.svg___7YjNg {
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 63px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: #9ca3af;
  flex-shrink: 0;
}
.column___9Bsoh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__ns27T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__bLi9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__tMg16 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #9ca3afc9;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  min-width: 0;
}
.text__tC98U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 0;
}
.columns__fLDep {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__fLDep > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fLDep > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.column__oVt7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox___3RhWx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  outline-width: thin;
  outline-offset: 3px;
  outline-color: #cdcaca;
  outline-style: solid;
  box-shadow: 0px 0px 0px 2px #ffffffe8;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg___0EzMh {
  object-fit: cover;
  max-width: 158%;
  width: 24px;
  height: 25px;
  color: #d1d5db;
  align-self: center;
  flex-shrink: 0;
}
.column__sMRx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__oqlDc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__oTcs2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__ouKyv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #9ca3afc9;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  min-width: 0;
}
.text__hSuYk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 0;
}
.form__xSwDq:global(.__wab_instance) {
  display: flex;
  width: 80.69%;
  height: 414px;
  max-width: 100%;
  object-fit: cover;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  flex-basis: auto;
  font-size: 19px;
  margin-top: -25px;
  margin-left: -6px;
  row-gap: 0px;
  padding: 0px;
}
.freeBox__nj5WT {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 110px;
  max-width: 100%;
  margin-bottom: 0px;
  row-gap: 0px;
  min-width: 0;
  border-radius: 17px;
}
.freeBox__itiKh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  min-width: 0;
}
.freeBox___4LpaV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.5rem;
  min-width: 0;
}
.columns__sCrTk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__sCrTk > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__sCrTk > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.column__xvSW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.buttonOldPrecedent__grW9:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.text__gIBgQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--token-lDLmFdvCjYex);
  font-weight: 600;
  min-width: 0;
}
.column__yBgDj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.button___3YU85:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #f43f5e;
}
.text__fpj4W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.stepperTitle:global(.__wab_instance) {
  position: relative;
  height: 126px;
  align-self: auto;
}
@media (max-width: 1200px) {
  .stepperTitle:global(.__wab_instance) {
    align-self: auto;
    height: 100%;
    min-height: 0;
  }
}
.text {
  padding-top: 0px;
  width: 100%;
  max-width: 317px;
  font-family: var(--token-7MuUh4QWacRT);
  font-size: 15px;
  line-height: 1.75rem;
  color: #535353;
  margin-top: -9px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text {
    max-width: 202px;
    width: 100%;
    margin-top: -9px;
    padding-top: 0px;
    font-family: var(--token-7MuUh4QWacRT);
    font-size: 1.125rem;
    font-weight: 500;
    color: #535353;
    line-height: 1.75rem;
    min-width: 0;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 76px;
  margin-bottom: 4px;
  height: 28px;
}
.img > picture > img {
  object-fit: cover;
}
